In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline


from data import get_data
from time import time
import joblib

In [ ]:
def get_data(urls, sheets, types):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        s = pd.read_excel(urls, sheet_name=s)
        s = s[[types, 'description']]
        s['description'] = s['description'].str.lower()
        if i == 0:
            data = s.copy()
        else:
            data = pd.concat([data, s], ignore_index=True)
        i += 1
    data.columns = ['target', 'data']
    data['target'] = data['target'].apply(str)
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

    return data

## Get Data

In [13]:
import pandas as pd

def loads_dataset(urls, sheets):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        df = pd.read_excel(urls, sheet_name=s)
        df = df[[ 'description','section','chapter','heading','sub-heading','tariff']]
        df['section'] = df['section'].map('{:02}'.format)
        df['chapter'] = df['chapter'].map('{:02}'.format)
    #s['heading'] = s['heading'].apply('{:04}'.format)
    #s['sub-heading'] = s['sub-heading'].map('{:06}'.format)
    #s['tariff'] = s['tariff'].map('{:08}'.format)
        df['description'] = df['description'].str.lower()
    
        if i == 0:
            data = df.copy()
        else:
            data = pd.concat([data, df], ignore_index=True)
        i += 1
        print("Load Data.. "+s+" success")
   # data.columns = ['target', 'data']
  #  data['target'] = data['target'].apply(str)
        load_time = time() - t0
        print("Load dataset time:  %0.3fs" % load_time)

    return data

In [14]:
urls = 'data/hs_code.xlsx'
types = 'section'

sheets = ['8_digit','6_digit','4_digit','2_digit', 'test_01', 'Declaration_2019_10']

df = loads_dataset(urls, sheets)
df.sample(10)

Load Data.. 8_digit success
Load dataset time:  17.907s
Load Data.. 6_digit success
Load dataset time:  36.502s
Load Data.. 4_digit success
Load dataset time:  55.271s
Load Data.. 2_digit success
Load dataset time:  72.734s
Load Data.. test_01 success
Load dataset time:  90.704s
Load Data.. Declaration_2019_10 success
Load dataset time:  108.621s

,description,section,chapter,heading,sub-heading,tariff
33649,adjuster unitrfrt seat da6t88h00a,20,94,9401,940190,94019039
11908,"epoxides, epoxyalcohols, epoxyphenols and epox...",06,29,2910,291090,NaN
22553,"india & bible paper, weigh < 40 g/m2, n/o 10% ...",10,48,4802,480254,48025420
20203,guaifenesin,06,29,2909,290949,29094905
15971,"apples, pears and quinces; fresh",02,08,808,NaN,NaN
24024,"rec perf outwear, men's/boys' anoraks, wind-br...",11,62,6201,620199,62019915
4769,"fabrics, woven; unbleached or bleached, contai...",11,55,5516,551641,55164100
42235,automotive batteries type n 50 zl pp with handle,16,85,8507,850710,85071099
35323,air conditioner parts insulation comp. part no...,07,39,3926,392690,39269099
13800,sacks and bags; of a kind used for the packing...,11,63,6305,630532,NaN

In [15]:
len(df)

49136

In [16]:
df.describe()

       description section chapter  heading  sub-heading    tariff
count        49136   49136   49136    49040        47819     42461
unique       46204      21      96     2475        10784     22744
top        adapter      15      76     7610       761010  76101090
freq            17   10406    6585     5312         4319      3050

In [17]:
#save the DataFrame
print("Save DataFrame")

joblib.dump(df, 'data/df_master_train.pkl', compress=1)
print('success')

Save DataFrame
success

In [2]:
urls = 'data/hs_code.xlsx'
types = 'section'

sheets = ['8_digit','6_digit','4_digit','2_digit', 'test_01', 'Declaration_2019_10']

df = get_data(urls,sheets,types)
print(len(df))
df.sample(10)

Load dataset time:  126.454s
49137

      target                                               data
9418      17  vehicles; with both sparkignition internal com...
47631     17  accessory parts part number 08413b1010 toyota ...
3825       9  wood; charcoal of wood other than bamboo (incl...
45600     16                                assy shelf glassref
8386      16  transformers; n.e.c. in item no. 8504.2, havin...
49         1  meat; of bovine animals, cuts with bone in (ex...
8382      16  transformers; n.e.c. in item no. 8504.2, havin...
163        1  fish; fresh or chilled, southern bluefin tunas...
6245      15                     steel, stainless; wire - other
33248     15                          arm/baserwindow 1d0058560

##  Create Model

In [12]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import pandas as pd

from data import get_data
from time import time
import joblib
%config InlineBackend.figure_format='retina'
print(f'pandas version:  {pd.__version__}')
pd.Timestamp.now()

pandas version:  1.0.5

Timestamp('2020-11-21 03:04:34.675104')

In [13]:
def clean_str(string):
    """
    Tokenization/string cleaning for dataset
    Every dataset is lower cased except
    """
    string = re.sub(r"\n", "", string)    
    string = re.sub(r"\r", "", string) 
    string = re.sub(r"[0-9]", "digit", string)
    string = re.sub(r"\'", "", string)    
    string = re.sub(r"\"", "", string)    
    return string.strip().lower()

In [14]:
import re 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

def create_model(df,names):
    X = []
    for i in range(df.shape[0]):
        X.append(clean_str(df.iloc[i][1]))
    y = np.array(df["target"])
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=5)



    print("pipeline of feature engineering and model")
    model = Pipeline([('vectorizer', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', OneVsRestClassifier(LinearSVC(class_weight="balanced")))])

    print("paramater selection")


    parameters = {'vectorizer__ngram_range': [(1, 1), (1, 2),(2,2)],
               'tfidf__use_idf': (True, False)}

    print("Training: ")
   
    t0 = time()
    gs_clf_svm = GridSearchCV(model, parameters, n_jobs=-1)
    gs_clf_svm = gs_clf_svm.fit(X, y)
    print(gs_clf_svm.best_score_)
    print(gs_clf_svm.best_params_)

    model = Pipeline([('vectorizer', CountVectorizer(ngram_range=(1,2))),
    ('tfidf', TfidfTransformer(use_idf=True)),
    ('clf', OneVsRestClassifier(LinearSVC(class_weight="balanced")))])

#fit model with training data
    model.fit(X_train, y_train)

    pred = model.predict(X_test)

    print(accuracy_score(y_test, pred))

#save the model
    print("Save Model")

    joblib.dump(model, 'data/model/model_'+names +'.pkl', compress=1)
    print("Create Model.. "+names+" success")


    print (classification_report(y_test, pred))

In [15]:


def create_data( sheets, types):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        df = joblib.load('data/train/df_master_train.pkl')
        df[df['section'] == f'{s}']
        df = df[[types, 'description']]
        df['description'] = df['description'].str.lower()
        if i == 0:
            data = df.copy()
        else:
            data = pd.concat([data, df], ignore_index=True)
        i += 1
        data.columns = ['target', 'data']
        data['target'] = data['target'].apply(str)
        print("Load Data.. "+s+" success")
        print(data)
    
        create_model(data,s)
    
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

    return data

In [ ]:
types = "heading"
sheets = [ '01', '02']

create_data(sheets, types)

Load Data.. 01 success
      target                                               data
0       0101  horses; live, purebred breeding animals - pure...
1       0101  horses; live, other than purebred breeding ani...
2       0101                                asses; live - other
3       0101                    mules and hinnies; live-  other
4       0102  cattle; live, purebred breeding animals - pure...
...      ...                                                ...
49131   8302                           adjust gear set jfkz658b
49132   7610                aluminium window frame kf057072avat
49133   3926                   acrylic plate 4mm. size24x24 cm.
49134   8544                      ac power cord p/n 141102240p6
49135   8708     automotive disc brake pads 220177988 db24114wd

[49136 rows x 2 columns]
pipeline of feature engineering and model
paramater selection
Training:

In [6]:
#['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 #      '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']

lst =[ '01', '02']

for x in lst:
    names = x
    df = joblib.load('data/train/df_master_train.pkl')
    
    df[df['target'] == f'{x}']
    
    #save the DataFrame
    
    joblib.dump(df, 'data/train/df_master_'+x+'.pkl', compress=1)
    print("Save DataFrame")   
    create_model(df,names)
    print('success')

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

In [7]:
import joblib
print("Load Model")
model = joblib.load('data/model/model_01.pkl')
products = input()  # Video game consoles : 95

Load Model
Vanilla

In [8]:
model.predict([products])[0]  # Vanilla : 02

'2'

In [ ]:
import joblib
import os

%time df = joblib.load('data/train/df_master_train.pkl')

s= '01'
df[df['section'] ==s]

#df[df['section'] == s]
print(len(df))
df.sample(10)

In [12]:
x= "1"
df[df['target'] == f'{x}']
df

      target                                               data
0          1  horses; live, purebred breeding animals - pure...
1          1  horses; live, other than purebred breeding ani...
2          1                                asses; live - other
3          1                    mules and hinnies; live-  other
4          1  cattle; live, purebred breeding animals - pure...
...      ...                                                ...
49132     15                           adjust gear set jfkz658b
49133     15                aluminium window frame kf057072avat
49134      7                   acrylic plate 4mm. size24x24 cm.
49135     16                      ac power cord p/n 141102240p6
49136     17     automotive disc brake pads 220177988 db24114wd

[49137 rows x 2 columns]

In [ ]:
df = joblib.load('data/train/df_master_train.pkl')
s='01'
df[df['section'] == f'{s}']
df.head()