In [16]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline


from data import get_data
from time import time

urls = 'data/hs_code.xlsx'
types = 'heading'

In [17]:
sheets = ['8_digit','6_digit','4_digit', 'test_01', 'Declaration_2019_10']

df = get_data(urls,sheets,types)
print(len(df))
df.sample(10)

49041

      target                                               data
10010   9017  drawing, markingout or mathematical calculatin...
28380   9202  string musical instruments (o/than guitars or ...
44439   8544      aluminum electric wire alvus 150 labr 800m/pc
45162   8708                           assy left air duct  high
12300   3305      hair preparations; n.e.c. in heading no. 3305
21103   3212  pigments dispersed in nonaqueous media, in liq...
16976   8536  electrical apparatus for switching, protecting...
45248   8708                  automotive disc brake pad tbs5237
34316   7610             aluminium ornament for door cj0120dnjd
45151   7610                 aluminium window frame w03311rbwbp

In [19]:
from data import Load_dataset
t0 = time()
paths = "data/train_section.pkl"

df = load_dataset(paths)
print(len(df))
print(df.head())
load_time = time() - t0
print("Load dataset time:  %0.3fs" % load_time)

ImportError: cannot import name 'Load_dataset' from 'data' (C:\Users\ASUS\WorkSpace\upload_Git\work_space\HS_Code\Lab\data.py)

In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import numpy as np
import pandas as pd

urls = 'data/hs_code.xlsx'

def get_data(sheets):
    data = pd.read_excel(urls,sheet_name= sheets)
    
    return data

In [2]:

sheets = '4_digit'
df = get_data(sheets)
df['section'] = df['section'].map('{:02}'.format)
df['chapter'] = df['chapter'].map('{:02}'.format)
df

,no.,section,chapter,heading,sub-heading,tariff,description
0,1,01,01,0101,NaN,NaN,"Horses, asses, mules and hinnies; live"
1,2,01,01,0102,NaN,NaN,Bovine animals; live
2,3,01,01,0103,NaN,NaN,Swine; live
3,4,01,01,0104,NaN,NaN,Sheep and goats; live
4,5,01,01,0105,NaN,NaN,"Poultry; live, fowls of the species Gallus dom..."
...,...,...,...,...,...,...,...
1217,1218,21,97,9702,NaN,NaN,"Engravings, prints and lithographs; original"
1218,1219,21,97,9703,NaN,NaN,"Sculptures and statuary; original, in any mate..."
1219,1220,21,97,9704,NaN,NaN,"Stamps, postage or revenue; stamp-postmarks, f..."
1220,1221,21,97,9705,NaN,NaN,Collections and collectors' pieces; of zoologi...
1221,1222,21,97,9706,NaN,NaN,Antiques; of an age exceeding one hundred years

In [3]:
from collections import Counter
Counter(df["section"])

Counter({'01': 42,
         '02': 77,
         '03': 21,
         '04': 56,
         '05': 66,
         '06': 178,
         '07': 43,
         '08': 20,
         '09': 27,
         '10': 40,
         '11': 152,
         '12': 19,
         '13': 47,
         '14': 18,
         '15': 148,
         '16': 131,
         '17': 38,
         '18': 54,
         '19': 7,
         '20': 32,
         '21': 6})

In [7]:
# 4 digit

len(df['heading'].unique())

1222

In [8]:
# 6 digit

len(df['sub-heading'].unique())

5358

In [9]:
# 8 digit

len(df['tariff'].unique())

10546

In [4]:
from collections import Counter
Counter(df["chapter"])

Counter({'01': 6,
         '02': 9,
         '03': 8,
         '04': 10,
         '05': 9,
         '06': 4,
         '07': 14,
         '08': 14,
         '09': 10,
         '10': 8,
         '11': 9,
         '12': 14,
         '13': 2,
         '14': 2,
         '15': 21,
         '16': 5,
         '17': 4,
         '18': 6,
         '19': 5,
         '20': 9,
         '21': 6,
         '22': 9,
         '23': 9,
         '24': 3,
         '25': 29,
         '26': 21,
         '27': 16,
         '28': 50,
         '29': 42,
         '30': 6,
         '31': 5,
         '32': 15,
         '33': 7,
         '34': 7,
         '35': 7,
         '36': 6,
         '37': 7,
         '38': 26,
         '39': 26,
         '40': 17,
         '41': 11,
         '42': 5,
         '43': 4,
         '44': 21,
         '45': 4,
         '46': 2,
         '47': 7,
         '48': 22,
         '49': 11,
         '50': 7,
         '51': 13,
         '52': 12,
         '53': 10,
         '54': 8,
         '55': 16,
         '56': 9,
         '57': 5,
         '58': 11,
         '59': 11,
         '60': 6,
         '61': 17,
         '62': 17,
         '63': 10,
         '64': 6,
         '65': 6,
         '66': 3,
         '67': 4,
         '68': 15,
         '69': 13,
         '70': 19,
         '71': 18,
         '72': 29,
         '73': 26,
         '74': 16,
         '75': 8,
         '76': 16,
         '78': 4,
         '79': 6,
         '80': 4,
         '81': 13,
         '82': 15,
         '83': 11,
         '84': 85,
         '85': 46,
         '86': 9,
         '87': 16,
         '88': 5,
         '89': 8,
         '90': 33,
         '91': 14,
         '92': 7,
         '93': 7,
         '94': 6,
         '95': 6,
         '96': 20,
         '97': 6})

In [6]:
import numpy as np
import pandas as pd
from time import time

urls = 'data/hs_code.xlsx'
types = 'heading'

def get_data(sheets,types):
    a = []
    i = 0
    for s in sheets:
        s = pd.read_excel(urls,sheet_name= s)
        s = s[[types,'description']]
        s['description'] = s['description'].str.lower()
        if i == 0:
            data = s.copy()            
        else:            
            data = pd.concat([data,s], ignore_index=True)
            
        i += 1 
        
    data.columns =  ['target', 'data']    
        
    return data
    
    
 #   data = data.rename(columns={'heading' : 'target', 'product_desc' : 'question_text'})

In [18]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [24]:
from data import get_data

urls = 'data/hs_code.xlsx'
types = 'heading'
sheets = ['4_digit']

df = get_data(urls,sheets,types)
df['target'] = df['target'].str('{:04}'.format)
print(len(df))
df

Load dataset time:  19.871s

TypeError: 'StringMethods' object is not callable

In [16]:

df.target.unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'],
      dtype=object)

In [24]:
df[df['target'] =='01']

    target                                               data
0       01  horses; live, purebred breeding animals - pure...
1       01  horses; live, other than purebred breeding ani...
2       01                                asses; live - other
3       01                    mules and hinnies; live-  other
4       01  cattle; live, purebred breeding animals - pure...
..     ...                                                ...
566     01  animal products; of fish or crustaceans, mollu...
567     01  animal products; n.e.c. in chapter 5 - domesti...
568     01  animal products; n.e.c. in chapter 5 - silk wo...
569     01  animal products; n.e.c. in chapter 5 - natural...
570     01       animal products; n.e.c. in chapter 5 - other

[571 rows x 2 columns]

In [5]:
import math
import torch
import torch.nn as nn
import torch.nn.functional as F

class TransformerModel(nn.Module):

    def __init__(self, ntoken, ninp, nhead, nhid, nlayers, dropout=0.5):
        super(TransformerModel, self).__init__()
        from torch.nn import TransformerEncoder, TransformerEncoderLayer
        self.model_type = 'Transformer'
        self.pos_encoder = PositionalEncoding(ninp, dropout)
        encoder_layers = TransformerEncoderLayer(ninp, nhead, nhid, dropout)
        self.transformer_encoder = TransformerEncoder(encoder_layers, nlayers)
        self.encoder = nn.Embedding(ntoken, ninp)
        self.ninp = ninp
        self.decoder = nn.Linear(ninp, ntoken)

        self.init_weights()

    def generate_square_subsequent_mask(self, sz):
        mask = (torch.triu(torch.ones(sz, sz)) == 1).transpose(0, 1)
        mask = mask.float().masked_fill(mask == 0, float('-inf')).masked_fill(mask == 1, float(0.0))
        return mask

    def init_weights(self):
        initrange = 0.1
        self.encoder.weight.data.uniform_(-initrange, initrange)
        self.decoder.bias.data.zero_()
        self.decoder.weight.data.uniform_(-initrange, initrange)

    def forward(self, src, src_mask):
        src = self.encoder(src) * math.sqrt(self.ninp)
        src = self.pos_encoder(src)
        output = self.transformer_encoder(src, src_mask)
        output = self.decoder(output)
        return output

ModuleNotFoundError: No module named 'torch'

In [20]:
from keras.datasets import imdb

vocabulary_size = 5000

(X_train, y_train), (X_test, y_test) = imdb.load_data(num_words = vocabulary_size)
print('Loaded dataset with {} training samples, {} test samples'.format(len(X_train), len(X_test)))


print('---review---')
print(X_train[6])
print('---label---')
print(y_train[6])

ModuleNotFoundError: No module named 'keras'

In [10]:
df

      target                                               data
0       0101  horses; live, purebred breeding animals - pure...
1       0101  horses; live, other than purebred breeding ani...
2       0101                                asses; live - other
3       0101                    mules and hinnies; live-  other
4       0102  cattle; live, purebred breeding animals - pure...
...      ...                                                ...
11763   9702       engravings, prints and lithographs; original
11764   9703  sculptures and statuary; original, in any mate...
11765   9704  stamps, postage or revenue; stamp-postmarks, f...
11766   9705  collections and collectors' pieces; of zoologi...
11767   9706    antiques; of an age exceeding one hundred years

[11768 rows x 2 columns]

In [9]:
df.section.unique

AttributeError: 'DataFrame' object has no attribute 'section'