In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import numpy as np
import pandas as pd

urls = 'data/hs_code.xlsx'

def get_data(sheets):
    data = pd.read_excel(urls,sheet_name= sheets)
    
    return data

In [4]:

sheets = '8_digit'
df = get_data(sheets)
df['section'] = df['section'].map('{:02}'.format)
df['chapter'] = df['chapter'].map('{:02}'.format)
df

,no.,section,chapter,heading,sub-heading,tariff,description
0,1,01,01,0101,010121,01012100,"Horses; live, purebred breeding animals - Pure..."
1,2,01,01,0101,010129,01012900,"Horses; live, other than purebred breeding ani..."
2,3,01,01,0101,010130,01013090,Asses; live - Other
3,4,01,01,0101,010190,01019000,Mules and hinnies; live- Other
4,5,01,01,0102,010221,01022100,"Cattle; live, purebred breeding animals - Pure..."
...,...,...,...,...,...,...,...
10541,10542,21,97,9703,970300,97030000,"Original sculptures and statuary, in any mater..."
10542,10543,21,97,9704,970400,97040000,"Postage or revenue stamps, stamp postmarks, fi..."
10543,10544,21,97,9705,970500,97050010,Collections and collectors' pieces; of zoologi...
10544,10545,21,97,9705,970500,97050090,Collections and collectors' pieces; of zoologi...
10545,10546,21,97,9706,970600,97060000,Antiques of an age exceeding one hundred years.

In [5]:
from collections import Counter
Counter(df["section"])

Counter({'01': 571,
         '02': 486,
         '03': 173,
         '04': 470,
         '05': 218,
         '06': 1241,
         '07': 566,
         '08': 91,
         '09': 226,
         '10': 300,
         '11': 1174,
         '12': 84,
         '13': 250,
         '14': 86,
         '15': 1032,
         '16': 2132,
         '17': 814,
         '18': 327,
         '19': 30,
         '20': 267,
         '21': 8})

In [7]:
# 4 digit

len(df['heading'].unique())

1222

In [8]:
# 6 digit

len(df['sub-heading'].unique())

5358

In [9]:
# 8 digit

len(df['tariff'].unique())

10546

In [12]:
from collections import Counter
Counter(df["chapter"])

Counter({'01': 48,
         '02': 71,
         '03': 364,
         '04': 64,
         '05': 24,
         '06': 27,
         '07': 116,
         '08': 93,
         '09': 62,
         '10': 36,
         '11': 39,
         '12': 79,
         '13': 21,
         '14': 13,
         '15': 173,
         '16': 76,
         '17': 31,
         '18': 15,
         '19': 59,
         '20': 85,
         '21': 63,
         '22': 69,
         '23': 40,
         '24': 32,
         '25': 87,
         '26': 41,
         '27': 90,
         '28': 217,
         '29': 451,
         '30': 109,
         '31': 31,
         '32': 83,
         '33': 44,
         '34': 60,
         '35': 21,
         '36': 16,
         '37': 52,
         '38': 157,
         '39': 360,
         '40': 206,
         '41': 39,
         '42': 36,
         '43': 16,
         '44': 191,
         '45': 7,
         '46': 28,
         '47': 21,
         '48': 246,
         '49': 33,
         '50': 15,
         '51': 39,
         '52': 144,
         '53': 31,
         '54': 90,
         '55': 116,
         '56': 43,
         '57': 62,
         '58': 84,
         '59': 44,
         '60': 64,
         '61': 131,
         '62': 220,
         '63': 91,
         '64': 52,
         '65': 15,
         '66': 7,
         '67': 10,
         '68': 82,
         '69': 61,
         '70': 107,
         '71': 86,
         '72': 367,
         '73': 268,
         '74': 70,
         '75': 19,
         '76': 73,
         '78': 12,
         '79': 15,
         '80': 12,
         '81': 50,
         '82': 72,
         '83': 74,
         '84': 1309,
         '85': 823,
         '86': 25,
         '87': 717,
         '88': 21,
         '89': 51,
         '90': 254,
         '91': 53,
         '92': 20,
         '93': 30,
         '94': 97,
         '95': 65,
         '96': 105,
         '97': 8})