HS Classification
===

## Step 1: Gather Data

In [17]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import sys
from data import get_data
import pandas as pd
import numpy as np
import io

In [12]:
%%time
urls = 'data/declaration.xlsx'
types = 'section'
sheets = ['deci']

df = get_data(urls,sheets,types)

print(len(df))
df.sample(10)

Load dataset time:  20.686s
66822
Wall time: 20.7 s

      target                                               data
24823     16                                               mold
48865     15                            cooling hosesfshp3-3000
19473      8  handbags/men's bag/hanfbag lamb skin620259db9c...
40194     10                      units writing gr 1 w stk nots
46978     12                slip resistant safety shoes size:43
19497     16                                          connector
5851      16                       relay (60 v above) my2 5508g
53803     16              ufu cpl venus 033592.75.01:bernina#05
46973      7                            pink finger cot size: m
56156      7                                          pakmel pp

In [21]:
%%time
df = get_data(urls,sheets,types)
df = df[pd.notnull(df['data'])]
#df = df.sample(frac=0.5, random_state=99).reset_index(drop=True)
df

Load dataset time:  20.732s
Wall time: 20.8 s

      target                                           data
0         20                  brusali n desk 90x52 white ap
1         20                 ma drwr low 80x60 white ap* cn
2         20                lonset slat bd bse 90x200 ap cn
3         20  glassvik gls dr 60x64 white/clear glass ap cn
4         20            radviken ach dark brown/black ap jp
...      ...                                            ...
66817     17                  pipe sub-assy, nozzle leakage
66818     17                              rail assy, common
66819     17                               pipe, fuel, no.1
66820     17                               pipe, fuel, no.4
66821     17                             support, fuel pipe

[66780 rows x 2 columns]

In [18]:
from collections import Counter
Counter(df["target"])

Counter({'20': 2382,
         '13': 1784,
         '11': 3565,
         '15': 11539,
         '7': 8303,
         '6': 3542,
         '9': 184,
         '16': 23624,
         '18': 4146,
         '4': 1006,
         '10': 1246,
         '5': 206,
         '17': 3122,
         '14': 353,
         '8': 919,
         '2': 124,
         '12': 683,
         '19': 9,
         '3': 15,
         '21': 28})

In [22]:
df.describe()

       target   data
count   66780  66780
unique     20  54470
top        16     ic
freq    23624    223

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66780 entries, 0 to 66821
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  66780 non-null  object
 1   data    66780 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [28]:
dupl_df = df.drop_duplicates()
# df.drop_duplicates(inplace=True)
dupl_df.shape

(54941, 2)

In [30]:
df[df['data'] == 'N/A']

Empty DataFrame
Columns: [target, data]
Index: []

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

## Export

In [31]:
%%time
urls = 'data/declaration.xlsx'
types = 'section'
sheets = ['decx']

data= get_data(urls,sheets,types)

print(len(data))
data.sample(10)

Load dataset time:  20.190s
50885
Wall time: 20.2 s

      target                                               data
17439     17                            cover, outer mirror, lh
18708     15  returnable nissan dunnage rwb size : (l x w x ...
28913     16                                  assy valve-safety
43127      7              weatherstrip, fr door glass, outer rh
48825     13  rockwool insulationprorox wm 960-sa050/0600/50...
49995     16  electrical insulating materials : plastic heat...
26000     17          isuzu rt-50 styling bar - unprime unpaint
7975      20            ab3921617b51ca3a06 knob lh            *
36631      7                                            rl base
46842     16                                      air purifiers

In [32]:
%%time
data = get_data(urls,sheets,types)
data = data[pd.notnull(data['data'])]
#df = df.sample(frac=0.5, random_state=99).reset_index(drop=True)
data

Load dataset time:  19.662s
Wall time: 19.7 s

      target                                      data
0          7     wear strip t 5.0x 20.0, uhmw pe/7 grn
1         16                 rotary joint 2361x2639x85
2          9  wooden furniture klack tray 38x58 rbbr w
3          7                   elastomers/lims-s2-20-p
4          7                   elastomers/lims-s2-20-p
...      ...                                       ...
50880     17                 bracket,rr bumper side,lh
50881     15                  latch,rr body rr gate,rh
50882     17            cover,2nd seat belt sash guide
50883     17                  seat belt,rr seat,inr lh
50884     17                      pad,rr overfender,lh

[49528 rows x 2 columns]

In [34]:
Counter(df["target"])

Counter({'20': 2382,
         '13': 1784,
         '11': 3565,
         '15': 11539,
         '7': 8303,
         '6': 3542,
         '9': 184,
         '16': 23624,
         '18': 4146,
         '4': 1006,
         '10': 1246,
         '5': 206,
         '17': 3122,
         '14': 353,
         '8': 919,
         '2': 124,
         '12': 683,
         '19': 9,
         '3': 15,
         '21': 28})

In [35]:
writer = pd.ExcelWriter("data/decl_data.xlsx")

df.to_excel(writer,"deci", index=True)
data.to_excel(writer,"decx", index=True)
writer.save()
print('success')

success

In [36]:
dupl_df = data.drop_duplicates()
# df.drop_duplicates(inplace=True)
dupl_df.shape

(27942, 2)

In [24]:
df['data'].str.isnumeric()

0        False
1        False
2        False
3        False
4        False
         ...
66817    False
66818    False
66819    False
66820    False
66821    False
Name: data, Length: 66780, dtype: bool

In [26]:
df['data'].str.isalpha()

0        False
1        False
2        False
3        False
4        False
         ...
66817    False
66818    False
66819    False
66820    False
66821    False
Name: data, Length: 66780, dtype: bool